body {
    font-size: 16px;
    /*background-image: url(https://i.computer-bild.de/imgs/1/4/1/6/2/9/4/7/Value-Aktien.jpeg-c79ad54c3ff44087.jpg?impolicy=full_content);*/
}

.image-head {
    /*border: 10px solid blue;*/
    display: flex;
    /*align-items: flex-end;*/
    flex-direction: column;
    overflow: hidden;
    width: 100vw;
    height: 30%;
    background-image: url(https://www.tagesspiegel.de/images/stock-financial-data-material-diagram-publicationxnotxinxchn-616208114890834001/alternates/BASE_21_9_W1000/stock-financial-data-material-diagram-publicationxnotxinxchn-616208114890834001.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

.text-head {
    /*border: 10px solid black;*/
    display: flex;
    width: 100vw;
    height: 23vh;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: black;
    font-size: 9vw;
    font-family: Arial, Helvetica, sans-serif;
    
    text-shadow: 2px 2px 4px #333, -2px -2px 4px #333
  }

.text-head a {
    text-decoration: none;
    color: black;
}

.text-head img {
    display: flex;
    border-right: 10vw;
    margin-right: 1vw;
    width: 8vw;
    height: 15vh;
}

.nav_menu {
    /*border: 10px solid violet;*/
    background-color: #ccc;
    opacity: 0.7;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100vw;
    height: 7vh;
    display: flex;
    justify-content: center;
  }

nav ul {
    display: flex;
    /*border: 10px solid black;*/
    list-style: none;
    width: 100vw;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
  }


nav li {
    display: flex;
    width: 25vw;
    /*border: 10px solid orange;*/
    font-size: 1.5vw;
    font-family: Arial, Helvetica, sans-serif;
  }

nav a {
    display: flex;
    width: 25vw;
    height: 7vh;
    color: black;
    text-decoration: none;
    justify-content: center;
    align-items: center;
  }

nav a:hover {
    background-color: #eee;
    color: red;
  }

#menu_point_1:hover {
    border-top-left-radius: 10px;
}

#menu_point_4:hover {
    border-top-right-radius: 10px;
}

#introduction {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}