body {
    font-size: 16px;
    background-color: rgb(255, 255, 255);
    /*background-image: url(https://i.computer-bild.de/imgs/1/4/1/6/2/9/4/7/Value-Aktien.jpeg-c79ad54c3ff44087.jpg?impolicy=full_content);*/
}

.image-head {
    display: flex;
    /*align-items: flex-end;*/
    flex-direction: column;
    overflow: hidden;
    width: 100vw;
    height: 25vh;
    filter: blur(0px);
  }

.image-head::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url(https://www.tagesspiegel.de/images/stock-financial-data-material-diagram-publicationxnotxinxchn-616208114890834001/alternates/BASE_21_9_W1000/stock-financial-data-material-diagram-publicationxnotxinxchn-616208114890834001.jpeg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(5px);
  z-index: -1;
  }

.top-image {
  display: flex;
  border: 10px solid brown;
    width: 100vw;
    height: 25vh;
    background-image: url(https://www.tagesspiegel.de/images/stock-financial-data-material-diagram-publicationxnotxinxchn-616208114890834001/alternates/BASE_21_9_W1000/stock-financial-data-material-diagram-publicationxnotxinxchn-616208114890834001.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(10px);
  }

.text-head {
    /*border: 10px solid black;*/
    display: flex;
    width: 100vw;
    height: 20vh;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: black;
    font-size: 7vw;
    font-family: Arial, Helvetica, sans-serif;
    
    text-shadow: 2px 2px 4px #333, -2px -2px 4px #333;
    z-index: 1;
  }

.text-head a {
    text-decoration: none;
    color: black;
}

.text-head img {
    display: flex;
    border-right: 10vw;
    margin-right: 1vw;
    width: 8vw;
    height: 15vh;
}

.nav_menu {
    /*border: 10px solid violet;*/
    width: 100vw;
    height: 5vh;
    display: flex;
    justify-content: center;
  }

nav ul {
    display: flex;
    /*border: 10px solid black;*/
    list-style: none;
    width: 100vw;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }


nav li {
    display: flex;
    width: 12vw;
    /*border: 10px solid orange;*/
    font-size: 1vw;
    font-family: Arial, Helvetica, sans-serif;
  }

nav a {
    background-color: rgb(115, 117, 122);
    opacity: 0.8;
    display: flex;
    width: 20vw;
    height: 5vh;
    color: black;
    text-decoration: none;
    justify-content: center;
    align-items: center;
  }

nav a:hover {
    background-color: #858585;
    color: rgb(0, 0, 0);
  }

#menu_point_1 {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#menu_point_1:hover {
    border-top-left-radius: 10px;
}

#menu_point_4 {
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

#menu_point_4:hover {
    border-top-right-radius: 10px;
}

#introduction {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.website-framework {
    display: flex;
    height: 100vh;
    width: 100vw;
}

.left-bar {
  width: 15vw;
  height: 100vh;
  background-color: rgb(78, 78, 78);
  filter: blur(5px);
}

.website-middle {
  display: flex;
  width: 70vw;
  height: 100vh;
  background-color: black;
  filter: blur(10px);
  /*background-image: url(https://trading-treff.de/wp-content/uploads/2018/03/Aktienhandel-737x415.jpg);
  filter: blur(10px);*/
}

.right-bar {
  width: 15vw;
  height: 100vh;
  background-color: rgb(78, 78, 78);
  filter: blur(5px);
}

.grid-test {
  display: flex;
  height: 100vh;
  width: 100vw;
  background-color: aqua;
}

