body {
    font-size: 16px;
    background-color: rgb(255, 255, 255);
    /*background-image: url(https://i.computer-bild.de/imgs/1/4/1/6/2/9/4/7/Value-Aktien.jpeg-c79ad54c3ff44087.jpg?impolicy=full_content);*/
}

.image-head {
    display: flex;
    /*align-items: flex-end;*/
    flex-direction: column;
    overflow: hidden;
    width: 100vw;
    height: 310px;
    filter: blur(0px);
  }

.image-head::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #696969;
  background-image: url(https://www.kyriba.com/wp-content/uploads/2022/06/Kyriba_FinancialServices_Intro-900x547.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(5px);
  z-index: -1;
  }

.text-head {
    /*border: 10px solid black;*/
    display: flex;
    width: 100vw;
    height: 240px;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 150px;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 3px 6px 3px rgba(61,61,61,0),
    3px 5px 2px #474747;
    z-index: 1;
  }

.text-head a {
    text-decoration: none;
    color: rgb(170, 170, 170);
}

.text-head img {
    display: flex;
    filter: invert(80%);
    margin: 2vw;
    width: 130px;
    height: 130px;
}

.nav_menu {
    /*border: 10px solid violet;*/
    display: flex;
  }

nav ul {
    display: flex;
    /*border: 10px solid black;*/
    list-style: none;
    width: 100vw;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }


nav li {
    display: flex;
    width: 300px;
    /*border: 10px solid orange;*/
    font-size: 26px;
    font-family: Arial, Helvetica, sans-serif;
  }

nav a {
  box-shadow: 5px 5px 15px 5px rgba(0,0,0,0),
  0px 10px 13px -7px #000000;
    background-color: rgb(115, 117, 122);
    opacity: 0.8;
    display: flex;
    width: 20vw;
    height: 53px;
    color: white;
    text-decoration: none;
    justify-content: center;
    align-items: center;
  }

nav a:hover {
    background-color: #c7c7c7;
    color: rgb(0, 0, 0);
    transition: font-size 2s ease;
    font-size: 1.1vw;
  }

nav a:active {
  transition: font-size 1s ease;
  font-size: 1vw;
}

#menu_point_1 {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#menu_point_1:hover {
    border-top-left-radius: 10px;
}

#menu_point_4 {
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

#menu_point_4:hover {
    border-top-right-radius: 10px;
}




.menu-container {
  position: fixed;
  top: 50px;
  right: 50px;
  z-index: 10;
}

.menu-button {
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Hamburger_icon.svg/360px-Hamburger_icon.svg.png);
  cursor: pointer;
  border-radius: 5px;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
}

.menu-button i {
  font-size: 70px;
}

.menu {
  position: fixed;
  top: 150px;
  right: -100%;
  width: 300px;
  height: 100%;
  background-color: #fff;
  padding: 20px;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
  transition: right 0.5s ease-in-out;
}

.menu.open {
  right: 0;
}

.menu a {
  display: block;
  margin-bottom: 10px;
  font-size: 18px;
  color: #333;
  background-color: transparent;
}





#introduction {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.website-framework {
    display: flex;
    height: 100vh;
    width: 100vw;
}

.left-right-bar {
  width: 15vw;
  height: 100vh;
  background-color: rgb(255, 255, 255);
  filter: blur(10px);
}

.website-middle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 70vw;
  height: 100vh;
  /*background-color: rgb(39, 39, 39);*/
  filter: blur(0px);
  color: black;
  /*background-image: url(https://trading-treff.de/wp-content/uploads/2018/03/Aktienhandel-737x415.jpg);
  filter: blur(10px);*/
}

/*
.website-middle::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url(https://trading-treff.de/wp-content/uploads/2018/03/Aktienhandel-737x415.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(10px) brightness(50%);
  z-index: -1;
}
*/

#aktienchart-example {
  height: 100px;
  width: 200px;
}

.grid-test {
  display: flex;
  height: 100vh;
  width: 100vw;
}

