@media only screen and (min-width: 20em) {
  body {
    font-size: 16px;
    height: 5000px;
    width: 100vw;
    background-color: rgb(56, 56, 56);
  }

  #scrolldown-menu-container {
    display: none;
  }

  header {
    position: fixed;
    top: 0;
    z-index: 2;
  }
  
  .image-head {
    display: flex;
    position: relative;
    flex-direction: column;
    overflow: hidden;
    width: 100vw;
    height: 4em;
    filter: blur(0px);
  }
  
  .image-head::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #696969;
  background-image: url(https://www.kyriba.com/wp-content/uploads/2022/06/Kyriba_FinancialServices_Intro-900x547.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(5px);
  z-index: -1;
  }
  
.text-head {
  margin-left: 10px;
  display: flex;
  width: 100vw;
  height: 2em;
  align-items: center;
  justify-content: start;
  text-align: center;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 3px 6px 3px rgba(61,61,61,0),
  3px 5px 2px #474747;
  z-index: 1;
}
  
  .text-head a {
    text-decoration: none;
    color: rgb(170, 170, 170);
  }
  
  .text-head img {
    display: none;
  }

  #logo-head-right {
    display: flex;
    filter: invert(80%);
    margin-left: 20px;
    width: 30px;
    height: 30px;
  }
  
  .nav_menu {
    display: none;
  }
  
  
  .menu-container {
  position: fixed;
  top: 28px;
  right: 38px;
  z-index: 10;
  }
  
  .menu-button {
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Hamburger_icon.svg/360px-Hamburger_icon.svg.png);
  cursor: pointer;
  border-radius: 1px;
  width: 10px;
  height: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  }
  
  .menu-button i {
  font-size: 40px;
  filter: invert(50%)

  }
  
  .menu {
  position: fixed;
  top: 150px;
  right: -100%;
  width: 300px;
  height: 100%;
  background-color: #fff;
  padding: 20px;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
  transition: right 0.5s ease-in-out;
  }
  
  .menu.open {
  right: 0;
  }
  
  .menu a {
  display: block;
  margin-bottom: 10px;
  font-size: 18px;
  color: #333;
  background-color: transparent;
  }
  
  
  
  
  
  #introduction {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .website-framework {
    display: flex;
    justify-content: center;
  }

  .website-middle {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100vw;
    height: 8000px;
    /*border: 5px solid blue;*/
    color: white;
  }

  .website-middle-startseite {
    display: flex;
    text-align: center;
    justify-content: center;
    width: 100%;
    height: 400px;
  }

  .image-website-middle-startseite {
    align-items: center;
    width: 600px;
    /*border: 5px solid orange;*/
  }

  .text-website-middle-startseite {
    text-align: center;
    width: 600px;
    /*border: 5px solid yellow;*/
  }
  
  .image-inside-website-middle-startseite {
    width: 80%;
    height: auto;
  }
  
  #aktienchart-example {
  height: 100px;
  width: 200px;
  }
  
  .grid-test {
  display: flex;
  height: 100vh;
  width: 100vw;
  }
}








@media only screen and (min-width: 50em) {
  body {
    border: 10px solid blue;
  }

  .image-head::before {
    background-image: linear-gradient(rgba(56,56,56,0.4), rgba(56,56,56,0.4) 98%, rgba(56,56,56,1)), url("https://www.kyriba.com/wp-content/uploads/2022/06/Kyriba_FinancialServices_Intro-900x547.jpg");
  }

  #scrolldown-menu-container {
    position: fixed;
    top: -100px;
    left: 0;
    right: 0;
    height: 60px;
    width: 98vw;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    transition: top 0.5s ease-in-out;
    z-index: 5;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  #scrolldown-menu-container.open {
    top: 0;
  }
  
  #scrolldown-menu-navbar {
    display: flex;
    align-items: center;
  }
  
  #scrolldown-menu-navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  #scrolldown-menu-navbar li {
    display: flex;
    margin-top: 5px;
  }
  
  #scrolldown-menu-navbar a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    margin-right: 2vw;
  }
  
  #scrolldown-menu-logo-name {
    color: rgb(99, 99, 99);
    margin-right: 100px;
    font-size: 20px;
  }
  
  #scrolldown-menu-logo-image {
    height: 30px;
    width: 30px;
    margin-right: 20px;
  }

  .socials-logo-scrolldown-menu {
    display: flex;
  }

  .socials-logo-scrolldown-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }

  .socials-logo-scrolldown-menu img {
    justify-content: flex-end;
    margin-top: 5px;
    margin-left: 15px;
    height: 30px;
    width: 30px;
  }

  header {
    position: relative;
  }
  
  .image-head {
    height: 11em;
  }
  
  .text-head {
    margin-left: 0px;
    height: 240px;
    justify-content: center;
    font-size: 70px;
  }
  
  .text-head img {
    display: flex;
    filter: invert(80%);
    margin-right: 2vw;
    width: 70px;
    height: 70px;
  }

  #logo-head-right {
    margin-left: 2vw;
    width: 70px;
    height: 70px;
  }
  
  .nav_menu {
    display: flex;
  }
  
  .nav_menu ul {
    display: flex;
    list-style: none;
    width: 100vw;
    margin-bottom: 20px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .nav_menu li {
    display: flex;
    width: 150px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .nav_menu a {
  box-shadow: 5px 5px 15px 5px rgba(0,0,0,0),
  0px 10px 13px -7px #000000;
    background-color: rgb(115, 117, 122);
    opacity: 0.8;
    display: flex;
    width: 150px;
    height: 34px;
    color: white;
    text-decoration: none;
    justify-content: center;
    align-items: center;
  }
  
  .nav_menu a:hover {
    background-color: #c7c7c7;
    color: rgb(0, 0, 0);
    transition: font-size 2s ease;
    font-size: 1.1vw;
  }
  
  .nav_menu a:active {
  transition: font-size 1s ease;
  font-size: 1vw;
  }
  
  #menu_point_1 {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  
  #menu_point_1:hover {
    border-top-left-radius: 10px;
  }
  
  #menu_point_4 {
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  }
  
  #menu_point_4:hover {
    border-top-right-radius: 10px;
  }
  
  .menu-container {
  display: none;
  }
}







@media only screen and (min-width: 60em) {
  body {
    border: 10px solid green;
  }
  
  .image-head {
    height: 13em;
  }
  
  .text-head {
    font-size: 90px;
  }
  
  .text-head img {
    width: 80px;
    height: 80px;
  }

  #logo-head-right {
    width: 80px;
    height: 80px;
  }
  
  .nav_menu ul {
    margin-bottom: 25px;
  }
  
  
  .nav_menu li {
    width: 185px;
    font-size: 18px;
  }
  
  .nav_menu a {
    width: 185px;
    height: 40px;
  }
}







@media only screen and (min-width: 80em) {
  body {
    border: 10px solid purple;
  }
  
  .image-head {
    height: 15em;
  }
  
  .text-head {
    font-size: 100px;
  }

  .text-head img {
    width: 90px;
    height: 90px;
  }

  #logo-head-right {
    width: 90px;
    height: 90px;
  }

  .nav_menu ul {
    margin-bottom: 28px;
  }
  
  .nav_menu li {
    width: 260px;
    font-size: 22px;
  }
  
  .nav_menu a {
    width: 260px;
    height: 45px;
  }

  .website-middle {
    width: 1200px;
  }

}







@media only screen and (min-width: 100em) {
  body {
  border: 10px solid brown;
  }

  .image-head {
    height: 17em;
  }
  
  .text-head {
    font-size: 120px;
  }

  .text-head img {
    width: 110px;
    height: 110px;
  }

  #logo-head-right {
    width: 110px;
    height: 110px;
  }

  .nav_menu ul {
    margin-bottom: 30px;
  }

  .nav_menu li {
    width: 280px;
    font-size: 22px;
  }
  
  .nav_menu a {
    width: 280px;
    height: 45px;
  }

}








@media only screen and (min-width: 120em) {
body {
  border: 10px solid orange;
  background-color: rgb(56, 56, 56);
}

.image-head {
  height: 19em;
}

.text-head {
  font-size: 150px;
}


.text-head img {
  width: 130px;
  height: 130px;
}

#logo-head-right {
  width: 130px;
  height: 130px;
}

.nav_menu {
  display: flex;
  position: sticky;
  top: 0;
}

.nav_menu li {
  width: 350px;
  font-size: 26px;
}

.nav_menu a {
  width: 350px;
  height: 50px;
}

}